.wrapper {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-gap: 10px;
	justify-content: center;
	align-content: start;
}

h1 {
	text-align: center;
	padding-bottom: 1em;
	grid-column: 1 / 4;
}

ul {
	list-style-type: none;
	width: 100%;
	margin: auto;
}

.blurb {
	padding-left: 20px;
}

.diary-cover {
	padding-right: 20px;
}
